@import "reset";
@import "variables";
@import "utilities";

.header {
  background-color: #292929;
  background-image: url("/assets/media/rmh-header-1024-bk.jpg");
  background-size: cover;
  color: #fff;

    .container {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      align-content: center;
      justify-content: space-around;
      height: 220px;
    }

    h1 {
      font-family: $font-headers;
      font-size: 35px;
      font-weight: 400;
      margin-bottom: 0;
    }

    p.tagline {
      font-style: italic;
    }
}

nav {
  li {
    display: inline;
    padding: 5px;
    margin: 0 3px;

    &:first-of-type {
      margin-left: 0;
      padding-left: 0;
    }
  }

  a {
    color: #fff;
    text-decoration: none;

    &:hover {
      border-bottom: 2px solid #fff;
    }
  }

  [aria-current] {
    border-bottom: 2px solid #fff;
  }
}

.content {
  background-color: #f0f0f0;
  padding: 50px 25px;

  .container {
    max-width: 850px;
    font-size: 1.05rem;
  }

  h2.storyTitle {
    margin-bottom: 0;
  }

  p.byline {
    font-style: italic;
    font-size: 0.8rem;
    margin: 0 0 25px 0;
  }

  ul {
    list-style-type: disc;
    margin-left: 35px;
  }

  .missive {
    font-family: 'Courier New', Courier, monospace;
    background: url("/assets/media/bg-lt-blue-paper.jpg");
    margin: 20px 30px;
    padding: 30px 40px;
    box-shadow: 0px 0px 9px 4px #ccc;
    border: 16px solid transparent;
	  border-image: 16 repeating-linear-gradient(-45deg, red 0, red 1em, transparent 0, transparent 2em,#58a 0, #58a 3em, transparent 0, transparent 4em);
  }
  
  .end {
    font-style: italic;
    text-align: center;
  }
}

.footer {
  background-color: $primary-color;
  color: #fff;
  height: 150px;

  p#copyright {
    margin: 20px auto;
    text-align: center;
  }
}